// Place all the styles related to the api/agencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 400px;
  width: 100%;
}

ul {
  padding-left: 0;
}

.agency-name {
  text-decoration: underline;
  font-weight: bold;
}

.agency-list-item{
  margin-bottom: 3px;
  width: 500px;
}

.agency-list-item, .agency-name {
  list-style: none;
}

#agency-header {
  font-size: 23px;
  text-decoration: underline;
}
