// Place all the styles related to the api/agencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 400px;
  width: 100%;
}

li {
  list-style: none;
}

.agency-name {
  text-decoration: underline;
  font-weight: bold;
}

.agency-list-item{
  border: 1px solid black;
  margin-bottom: 3px;
}
