<!DOCTYPE html>
<html>
  <head>
    <title>LocalAgencies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdeZatiLeHG19RW9AHRDVYCYD7knofz1c&callback=initMap">
  </script> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
